<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ProvisioningLocation" value=""/>
    <add key="ProvisioningUsername" value=""/>
    <add key="ProvisioningPassword" value=""/>
    <add key="S3BucketName" value=""/>
    <add key="SQSQueueName" value=""/>
    <add key="SNSTopicName" value=""/>
    <add key="GlacierVaultName" value=""/>
    <add key="RDSAllocatedStorage" value=""/>
    <add key="RDSMaxAllocatedStorage" value=""/>
    <add key="RDSAutoMinorVersionUpgrade" value=""/>
    <add key="RDSAvailabilityZone" value=""/>
    <add key="RDSDBInstanceClass" value=""/>
    <add key="RDSMaxDBInstanceClass" value=""/>
    <add key="RDSDBInstanceIdentifier" value=""/>
    <add key="RDSDBName" value=""/>
    <add key="RDSEngine" value=""/>
    <add key="RDSEngineVersion" value=""/>
    <add key="RDSDBAUsername" value=""/>
    <add key="RDSDBAPassword" value=""/>
    <add key="RDSLicenseModel" value=""/>
    <add key="RDSPort" value=""/>
    <add key="RDSProvisionedIOPS" value=""/>
    <add key="RDSDBSecurityGroups" value=""/>
    <add key="RDSOracleEngineEdition" value=""/>
    <add key="RDSSqlServerEngineEdition" value=""/>
    <add key="RDSMySQLEngineEdition" value=""/>
    <add key="RDSOracleDBVersion" value=""/>
    <add key="RDSSqlServerDBVersion" value=""/>
    <add key="RDSMySQLDBVersion" value=""/>
    <add key="RDSMultiAZ" value=""/>
    <add key="RDSPubliclyAccessible" value=""/>
    <add key="RDSCharacterSet" value=""/>
    <add key="RDSBackupRetentionPeriod" value=""/>
    <add key="RDSSkipFinalSnapshot" value=""/>
    <add key="RedshiftSkipFinalSnapshot" value=""/>
    <add key="RedshiftAllowVersionUpgrade" value=""/>
    <add key="RedshiftAutomatedSnapshotRetentionPeriod" value=""/>
    <add key="RedshiftAvailabilityZone" value=""/>
    <add key="RedshiftClusterParameterGroupName" value=""/>
    <add key="RedshiftClusterSecurityGroups" value=""/>
    <add key="RedshiftClusterSubnetGroups" value=""/>
    <add key="RedshiftClusterVersion" value=""/>
    <add key="RedshiftDBName" value=""/>
    <add key="RedshiftElasticIp" value=""/>
    <add key="RedshiftEncrypted" value=""/>
    <add key="RedshiftHsmClientCertificateIdentifier" value=""/>
    <add key="RedshiftHsmConfigurationIdentifier" value=""/>
    <add key="RedshiftMasterUserName" value=""/>
    <add key="RedshiftMasterUserPassword" value=""/>
    <add key="RedshiftNodeType" value=""/>
    <add key="RedshiftMaxNumberOfNodes" value=""/>
    <add key="RedshiftDefaultPort" value=""/>
    <add key="RedshiftPreferredMaintenanceWindow" value=""/>
    <add key="RedshiftPubliclyAccessible" value=""/>
    <add key="RedshiftVpcSecurityGroupIds" value=""/>
    <add key="RedshiftDevClusterIdentifier" value=""/>
    <add key="RedshiftDevDBName" value=""/>
    <add key="RedshiftDevClusterType" value=""/>
    <add key="RedshiftDevNumberOfNodes" value=""/>
    <add key="RedshiftMaxAllocatedStorage" value=""/>
    <add key="RedshiftDevAllocatedStorage" value=""/>
    <add key="GlacierAWSAccountId" value=""/>
    <add key="GlacierVaultName" value=""/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
