<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ProvisioningLocation" value="us-east-1" />
    <add key="ProvisioningUsername" value="AKIAIMG5ND6ZFBJ4BNTQ" />
    <add key="ProvisioningPassword" value="jmKOhCVfUOUhtGDZfESab4M31V2KT6DxX1wNOnNC" />
    <add key="bucketName" value="test.bucket.oasoidfnasoidfn" />
    <add key="queueName" value="" />
    
  </appSettings>
</configuration>